:root {
    --color-primary: #060a88;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #f1450bfa;
    --color-button-hover: #de3434;
    --color-text: #0c0000;
    --color-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

header img {
    max-width: 100%;
    height: auto;
    display: block;
}

.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    overflow: hidden;    /* Oculta o texto que ultrapassa o container */
    text-overflow: ellipsis; /* Adiciona "..." quando o texto for muito grande */
    text-align: center;  /* Centraliza o texto */
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 80%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:focus {
    outline: 3px solid #de3434;
}

button.remover {
    font-size: 10px;
    padding: 2px 5px;
    margin-left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button.remover:hover {
    background-color: #d32f2f;
}

button.remover:focus {
    outline: 3px solid #d32f2f;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

.button-add:focus {
    outline: 3px solid #a1a1a1;
}

ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #05DF05;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.button-draw:focus {
    outline: 3px solid var(--color-button-hover);
}

#limparLista {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}

#limparLista:hover {
    background-color: #d32f2f;
}

#limparLista:focus {
    outline: 3px solid #d32f2f;
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    .main-title {
        font-size: 32px; /* Reduzindo o tamanho do título */
        white-space: normal; /* Permite que o título quebre de forma controlada */
    }

    .section-title {
        font-size: 28px;
    }

    .input-wrapper {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .input-name {
        width: 90%;
        margin-bottom: 10px;
    }

    .button-add {
        width: 90%;
        border-radius: 25px;
    }

    .button-draw {
        width: 90%;
        padding: 10px;
    }

    .input-title {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .main-title {
        font-size: 24px; /* Tamanho ainda menor para dispositivos muito pequenos */
    }

    .section-title {
        font-size: 22px;
    }

    .input-section {
        padding: 10px;
        border-radius: 32px 32px 0 0;
    }

    button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .input-name {
        font-size: 14px;
    }

    .button-draw {
        padding: 10px 20px;
    }
}
